.App {
   text-align: center;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
}

.App-header {
   background-color: #222;
   height: 150px;
   padding: 20px;
   color: white;
}

.App-intro {
   font-size: large;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}


/*img {
  height: 316px;
  width: 212px;
  margin-right: 20px;
  float: left;
}*/


/* Krish's css starts here:*/

#root .mdl-layout-title {
   font-size: 1.1em;
   margin-top: 10px;
   font-weight: 600;
}

#root .mdl-navigation__link {
   text-decoration: none;
}

#root .mdl-navigation__link:hover {
   text-decoration: none;
}

.cardSection {
   background-color: #f2f2f2;
}

.cardSection .movie_title {
   color: #000;
   font-size: 1.4em;
   text-decoration: none;
   margin-bottom: 20px;
}

.cardSection .movie_title:hover {
   color: #000;
}

.cardSection p {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   margin-bottom: 20px;
}

.cardSection button p {
   display: inline;
   vertical-align: super;
   padding-right: 0.5em;
}

#root button {
   border: none;
   /*height: 40px;*/
}

#root .adder, .btn-primary {
   background-color: #f2f2f2;
   color: #000;
   margin-right: 5px;
   transition: .1s all ease-in-out;
   -webkit-transition: .1s all ease-in-out;
}

.buttons button {
  border: none;
  color: black;
  background: #f2f2f2;
}

.buttons button:hover, .buttons button:focus {
  background: #d9d9d9;
  color: white;
}

#root .adder p {
   display: inline;
}

#root .adder:hover {
   background-color: #d9d9d9;
   color: #fff;
   font-weight: 700;
}

.added {
   color: #ff6666;
}

#root .trailer {
   background-color: #AEB6BF;
   color: #fff;
   margin-bottom: 10px;
   transition: .1s all ease-in-out;
   -webkit-transition: .1s all ease-in-out;
}

#root .trailer:hover {
   background-color: #5D6D7E;
}

#root .NowPlaying ul {
   padding-left: 25px;
}

#root .NowPlaying ul a {
   text-decoration: none;
   color: #000;
}

#root .NowPlaying ul a:hover {
   text-decoration: underline;
}

/* Index.css */

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.mainContent {
   width: 90%;
   margin: auto;
   max-width: 990px;
   padding-bottom: 3em;
}

dialog.mdl-dialog {
   width: 80%;
   max-width: 850px;
}

.mdl-list__item--three-line .mdl-list__item-primary-content, .mdl-list__item--three-line .mdl-list__item-text-body, .mdl-list__item--three-line {
   height: auto;
}

.mdl-dialog {
  max-height: 80%;
  overflow: scroll;
}

.time {
   font-size: 0.8em;
   color: darkgray;
}

.fa-inbox {
   font-size: 3em;
}

.bottomNav {
   position: absolute;
   bottom: 3em;
   text-align: center;
   width: 100%;
}

.bottomNav * {
  display: inline-block;
  margin: auto;
  /*width: 80%;*/
}

.inboxButton:hover {
  background: #6666ff !important;
  color: white;
  text-decoration: none;  
}

#inboxBadge {
   /*float: left;*/
   margin: 1em;
}

.signOut, .inboxButton {
   color: #ff6666;
   border-radius: 3px;
   background: #e9e9e9;
   padding: 1em 2em 1em 2em;
   /*width: auto;*/
   cursor: pointer;
   transition: .1s all ease-in-out;
   -webkit-transition: .1s all ease-in-out;
}

.signOut:hover {
   text-decoration: none;
   background: #ff6666;
   color: #fff;
}

.mdl-badge.mdl-badge--overlap:after {
   /*top: -25px !important;*/
}

.mdl-grid {
   padding: 0 !important;
}

.container {
   margin: auto;
   width: 90%;
}

.detailedCard .cardSection {
   width: 100%;
   height: auto;
   margin-left: 0;
   padding: 1em;
}

.video-container {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

img.responsive-img {
   max-width: 100%;
   height: auto;
}

h1 {
   font-size: 1.5em !important;
   font-style: italic;
   padding-bottom: 0.3em;
   border-bottom: 2px solid black;
}

.watchlist h1, .moviePage h1 {
   font-size: 1.5em;
   font-style: italic;
   padding-bottom: 0.3em;
   border-bottom: 2px solid black;
}

.errorMessage {
  display: inline-block;
  padding: 0.7em;
  margin-top: 2em;
  border-radius: 3px;
  background: rgba(255, 36, 36, 0.57);
  color: white;
}

.cardSection {
  padding: 2em;
}

.watchlist .cardSection {
   height: 100%;
   padding: 2em;
}

.Watchlist .cardSection {
   height: 100%;
   padding: 2em;
}

.Watchlist {
   margin-left: 0 !important;
}

#badgeContainer {
  text-align: center;
}

.cardSection h2 {
  margin: 0;
  margin-bottom: 1em;
  color: black;
  font-size: 1.4em;
}

.cardSection a {
  text-decoration: none;  
}

.detailedCard {
   margin-bottom: 5em;
}

.detailedCard h2 {
   margin-top: 0;
}

.detailedCard h3 {
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 0;
}

.detailedCard img {
   width: 100%;
}

.detailedCard .contentParagraph {
   margin-bottom: 3em;
}

.detailedCard .cardSection p {
   display: inline-block;
}

.ratingBox {
   display: inline-block;
   background: white;
   padding: 1em;
   width: 100%;
   text-align: center;
}

.castBox {
   background: white;
   padding: 1em 1em 1em 2em;
   width: 100%;
}

.mdl-list li {
   font-size: 1em;
   padding: 0.2em;
   min-height: 2em !important;
}

header.mdl-layout__header {
   background-color: white;
   color: black;
   box-shadow: none;
}

.mdl-layout__drawer-button {
   color: black !important;
}

.actions {
   cursor: pointer;
}

.mdl-textfield, #message_input {
   width: 100% !important;
}

#formGrid .mdl-cell {
   text-align: center !important;
}

input.quickSearch {
  margin: auto;
  height: 3.5em;
  border: none;
  box-shadow: 0px 2px 2px lightgray;
}

.searchForm {
  width: 80%;
  margin: auto;  
}

.activeLink {
  background-color: #e9e9e9;
}

.searchForm .input-group-addon {
  background: white;
  border: none;
  box-shadow: 0 2px 2px lightgray;
  border-right: 3px solid white;
  z-index: 10;
}

#formGrid {
  margin: auto;
}

.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
  text-align: center;
  padding-left: 0 !important;
}


@media screen and (max-width: 840px) {
  #formGrid .mdl-cell:first-child {
    width: 70% !important;
  }

  #formGrid .mdl-cell:nth-child(2) {
    width: 20% !important;
  }
}

@media screen and (min-width: 1024px) {
  .hideOnLarge {
    display: none !important;
  }


  /*#formGrid .mdl-cell:first-child {
    width: auto;
  }

  #formGrid .mdl-cell:nth-child(2) {
    width: auto;
  }*/

  .NowPlaying li {
    font-size: 1em;
  }

  .recommendedMovieList .mdl-cell {
     width: calc(16.6666666667% - 16px);
  }

}


