* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.mainContent {
   width: 90%;
   margin: auto;
   max-width: 990px;
   padding-bottom: 3em;
}

dialog.mdl-dialog {
   width: 80%;
   max-width: 850px;
}

.mdl-list__item--three-line .mdl-list__item-primary-content, .mdl-list__item--three-line .mdl-list__item-text-body, .mdl-list__item--three-line {
   height: auto;
}

.time {
   font-size: 0.8em;
   color: darkgray;
}

.fa-inbox {
   font-size: 3em;
}

.bottomNav {
   position: absolute;
   bottom: 3em;
   text-align: center;
   width: 100%;
}

#inboxBadge {
   /*float: left;*/
   margin: 1em;
}

.signOut {
   color: #ff6666;
   border-radius: 3px;
   background: #e9e9e9;
   padding: 1em 2em 1em 2em;
   /*width: auto;*/
   cursor: pointer;
   transition: .3s all ease-in-out;
   -webkit-transition: .3s all ease-in-out;
}

.signOut:hover {
   text-decoration: none;
   background: #ff6666;
   color: #fff;
}

.mdl-badge.mdl-badge--overlap:after {
   /*top: -25px !important;*/
}

.mdl-grid {
   padding: 0 !important;
}

.container {
   margin: auto;
   width: 90%;
}

.detailedCard .cardSection {
   width: 100%;
   height: auto;
   margin-left: 0;
   padding: 1em;
}

.video-container {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

img.responsive-img {
   max-width: 100%;
   height: auto;
}

h1 {
   font-size: 1.5em !important;
   font-style: italic;
   padding-bottom: 0.3em;
   border-bottom: 2px solid black;
}

.recommendedMovieList .mdl-cell {
   margin: 0 !important;
   width: calc(16.6666666667%);
}

.watchlist h1, .moviePage h1 {
   font-size: 1.5em;
   font-style: italic;
   padding-bottom: 0.3em;
   border-bottom: 2px solid black;
}

.watchlist .cardSection {
   height: 100%;
   padding: 2em;
}

.Watchlist .cardSection {
   height: 100%;
   padding: 2em;
}

.Watchlist {
   margin-left: 0 !important;
}

#badgeContainer {
   text-align: center;
}

.watchlist .cardSection h2 {
   margin: 0;
   margin-bottom: 1em;
}

.detailedCard {
   margin-bottom: 5em;
}

.detailedCard h2 {
   margin-top: 0;
}

.detailedCard h3 {
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 0;
}

.detailedCard img {
   width: 100%;
}

.detailedCard .contentParagraph {
   margin-bottom: 3em;
}

.ratingBox {
   display: inline-block;
   background: white;
   padding: 1em;
   width: 100%;
   text-align: center;
}

.castBox {
   background: white;
   padding: 1em 1em 1em 2em;
   width: 100%;
}

.mdl-list li {
   font-size: 1em;
   padding: 0.2em;
   min-height: 2em !important;
}

header.mdl-layout__header {
   background-color: white;
   color: black;
   box-shadow: none;
}

.mdl-layout__drawer-button {
   color: black !important;
}

.actions {
   cursor: pointer;
}

.mdl-textfield, #message_input {
   width: 100% !important;
}

#formGrid .mdl-cell {
   text-align: center !important;
}

@media screen and (min-width: 1024px) {
   .hideOnLarge {
      display: none !important;
   }
}
